.bgimg {
  margin-left: auto;
  margin-right: auto;
  background-image: url("pictures/stroke.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -16;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
}

.stroke {
  background-image: url("pictures/stroke.jpeg");
}
.totw {
  display: none;
  background-image: url("pictures/totw.jpg");
  z-index: -15;
}

.escape {
  display: none;
  background-image: url("pictures/escape6.jpeg");
  z-index: -16;
}

.desperate {
  display: none;
  background-image: url("pictures/desperate.jpg");
  z-index: -16;
}

.defeated {
  display: none;
  background-image: url("pictures/night.jpg");
  z-index: -16;
  animation: color-change 15s linear infinite;
}

.commonsense {
  display: none;
  background-image: url("pictures/commonsense2.jpeg");
  z-index: -16;
}

.lightning1 {
  display: none;
  margin-left: auto;
  margin-right: auto;
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  animation: lightning 5s linear;
  opacity: 0;
  z-index: -15;
}

.lightning2 {
  display: none;
  margin-left: auto;
  margin-right: auto;
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  animation: lightning 5s linear infinite;
  opacity: 0;
  z-index: -15;
}

.rain {
  margin-left: auto;
  margin-right: auto;
  display: none;
  height: 200%;
  width: 100%;
  position: absolute;

  left: 0;
  bottom: 0px;
  z-index: -15;
  background-image: url("videos/rain.png");

  animation: rain 0.9s linear infinite;

  background-position: center;
}
.rain2 {
  margin-left: auto;
  margin-right: auto;
  display: none;
  height: 700%;
  width: 100%;
  position: absolute;

  left: 0;
  bottom: 0px;
  z-index: -15;
  background-image: url("videos/rain.png");
  background-color: rgba(245, 0, 0, 0.897);

  animation: rain 0.1s linear infinite;

  background-position: center;
}

@keyframes color-change {
  0%,
  100% {
    filter: grayscale(100%);
  }
  50% {
    filter: grayscale(100%);
  }
}
body {
  margin: 0;
  position: relative;
  background-color: black;
  background-repeat: no-repeat;
}

.songlist {
    display: flex;
    flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#playlist {
  padding: 40px;
  list-style: none;
  background-size: contain;
}
#playlist li a {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  position: relative;
  text-decoration: none;
  text-shadow: 2px 3px 1px rgb(20, 20, 20);
  border-radius: 1px 1px 1px 1px;
  box-shadow: 5px 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: rgba(15, 13, 13, 0.802);

  color: whitesmoke;
  letter-spacing: 10px;
  font-size: 1.8em;
}
#playlist li p {
    text-align: center;
}
#playlist li:hover a {
  color: rgb(247, 247, 119);
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
#playlist .current-song a {
  color: blue;
}

#audioPlayer {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
    padding: 5px;
  margin-right: auto;
  margin-left: auto;
  width: 500px;
}
h2 {
  color: antiquewhite;
  letter-spacing: 10px;
  position: relative;
  font-size: 1em;
  text-align: center;
}

.cloud {
}

@keyframes lightning {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
}
@keyframes rain {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 10% 100%;
  }
}

@media screen and (max-width: 600px) {
    #playlist li a{
        width: 300px;
    }
    #audioPlayer {
        width: 300px;
      }
}